<header>
<div class="header-logo">
  <% if @current_user %>
    <%= link_to("archipicture", "/posts/index") %>
  <% else %>
    <%= link_to("archipicture", "/") %>
  <% end %>
</div>
<ul class="header-menus">
  <% if @current_user %>
    <li>
      <%= link_to("投稿一覧","/posts/index") %>
    </li>
    <li>
      <%= link_to("新規投稿","/posts/#{@current_user.id}/new") %>
    </li>
    <li>
      <%= link_to("#{@current_user.name}さん", "/users/#{@current_user.id}") %>
    </li>
    <li>
      <%= link_to("ログアウト", "/logout",{method: "post"}) %>
    </li>
  <% else %>
    <li>
      <%= link_to("新規ユーザー登録", "/users/signup") %>
    </li>
    <li>
      <%= link_to("ログイン", "/login") %>
    </li>
  <% end %>
</ul>
</header>

<div class="users_login_top">
  <div class="users_login_wrapper">
    <div class="users_login_form">
      <div class="users_login_heading">
        <h2>ログインページ</h2>
      </div>
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
      <% end %>
        <%= form_tag("/login") do %>
          <div class="users_login">
            <p>メールアドレス</p>
            <input name="email" value="<%= @email %>">
            <p>パスワード</p>
            <input name="password" type="password"><br>
            <br>
            <input type="submit" value="ログイン">
          </div>
        <% end %>
    </div>
  </div>
</div>

<footer>
<div class="footer-logo">
  <% if @current_user %>
    <%= link_to("archipicture", "/posts/index") %>
  <% else %>
    <%= link_to("archipicture", "/") %>
  <% end %>
</div>
</footer>